/* Category Btns & Filters */
/* ----------------------- */

/* Category Buttons */
.category-slider-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  margin: 0 1rem;
}

.scroll-container {
  overflow-x: auto;
  white-space: nowrap;
  display: flex;
  /* gap: 1rem; */
  padding: 0 2rem;
  scroll-behavior: smooth;
}

.scroll-btn {
    background: rgba(0, 33, 71, 0.6);
    border: none;
    font-size: 1.5rem;
    padding: 0.5rem;
    cursor: pointer;
    position: absolute;
    z-index: 1;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.scroll-btn svg {
    color: white;
}

.scroll-btn.left {
  left: 0;
}

.scroll-btn.right {
  right: 0;
}

.scroll-container::-webkit-scrollbar {
  display: none; /* hide scrollbar */
}

.category-btn__box {
    /* display: flex;
    flex-wrap: wrap;
    width: 100%;
    contain: layout paint; */
} 

.category-btn__box:nth-of-type(3) {
    margin-top: 1rem;
    margin-left: .5rem;
    margin-right: .5rem;
    width: calc(100% - 1rem);
}

.category-btn,
.category-btn:focus,
.category-btn:active,
.category-btn:visited {
    display: flex;
    flex-direction: column;
    min-width: 100px;
    max-width: 100px;
    height: 60px;
    justify-content: center;
    align-items: center;
    gap: 0.25em;
    cursor: pointer;
    font-family: 'Avenir Next Condensed', sans-serif;
    letter-spacing: 0.05em;
    background: none;
    border: none;
    outline: none;
    color: inherit;
    text-decoration: none;
    text-transform: uppercase;
}

.category-btn:hover img {
    transform: rotate(-15deg) scale(1.2);
    transition: transform 0.2s ease-in-out;
}

.category-btn img {
    max-height: 25px;
}

.filters {
    margin-top: 1rem;
    padding-left: 1rem;
}

/* Filters */
.filter {
    display: inline-block;
    margin-right: .3rem;
    min-width: fit-content;
}

/* Hide checkbox */
.filter input[type="checkbox"] {
    display: none;
}

.filter span {
    display: inline-flex;
    align-items: center;
    gap: 0.5em;
    padding: 0.5rem 1rem;
    background-color: #DBDBDB;
    color: black;
    font-family: 'Avenir Next Condensed', sans-serif;
    text-transform: capitalize;
    border-radius: 1rem;
    cursor: pointer;
    transition: background-color 0.4s ease-in-out, color 0.4s ease-in-out;
}

/* hover */
.filter:hover span{
    background-color: #C1C1C1;
}

.filter:hover img{
    transform: rotate(-10deg) scale(1.1);
    transition: transform 0.2s ease-in-out;
}

/* Checked state */
.filter input[type="checkbox"]:checked + span {
    background-color: #959595;
}

/* Image styling */
.filter img {
    max-height: 25px;
}

/* Hide text for image-only labels like "Open Late" */
.filter .text {
    font-size: 0.9em;
    color: inherit;
    background-color: inherit;
    border: none;
}

/* Mobile */
@media (max-width: 600px) {
    .scroll-btn {
        display: none;
    }

    .scroll-container {
        padding: 0;
    }

    .category-btn__box {
        flex-wrap: nowrap;
        overflow: scroll;
        -webkit-overflow-scrolling: touch; /* iOS momentum scroll */
        scroll-behavior: smooth;
    }
}