/* Location Card */
.location__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding-top: 2rem;
    padding-bottom: 2rem;
    /* background-color: var(--darkblue); */
    background-color: black;

}

.location {
    display: flex;
    width: 100%;
    max-width: 900px;
    position: relative;    
    /* border: 1px solid black; */
    background-color: white;
    transition: all .3s;


    color: white;
    border-radius: 3px;
}

.location::after {
    content: '';
    display: block;
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: -2;
    background-color: white;
    border-radius: 3px;
}

/* Location Component - Img Side */

.location__img-box {
    width: 300px;
    height: 300px; /* Define height to make vertical centering effective */
    display: flex;
    justify-content: center; /* Horizontally center the image */
    align-items: center; /* Vertically center the image */
    padding-left: 15px;
}

.location__img {
    width: 100%;
    height: auto; /* Maintain the image's aspect ratio */
    object-fit: contain; /* Make sure the image scales properly within the container */
    position: relative;
    z-index: 4;
    transition: all .3s;
}

/* Location Component - Details Side */

.location__details {
    width: 100%;
    max-width: 550px;
    padding-left: 20px;
    padding-top: 10px;
}

.location__details--neighborhood { 
    font-size: .94em;
    line-height: 1.2em;
    letter-spacing: .05em;
    text-transform: uppercase;
    font-family: "Avenir Next Condensed", sans-serif;
    color: var(--orange);
    margin-top: 10px;
    margin-bottom: 5px;
    z-index: 3;
    position: relative;
    text-decoration: none;
    display: block;
}

.location__details--name { 
    /* remove anchor styles */
    all: unset;
    display: inline-block;
    text-decoration: none;
    /* custom styles */
    font-family: 'Canto';
    font-size: 2em;
    line-height: 1.2em;
    letter-spacing: -.02em;
    margin-bottom: 10px;
    cursor: pointer;
}

.location__details--name span {
    position: relative;
    z-index: 10;
    color: white;
}

.location__details--name::after {
    content: '';
    display: block;
    height: 80px;
    width: 600px;
    position: absolute;
    top: 10px;
    left: 200px;
    z-index: 1;
    background-color: #DBDBDB;
    background-color: var(--darkblue);
    transition: all .3s;
}

.location__details--blurb,
.location__details--description { 
    font-size: 16px;
    line-height: 1.6em;
    font-family: 'Avenir Next Condensed', sans-serif;
    color: #666666;
    margin-top: 5px;
    margin-bottom: 10px;
    max-width: 80%;
}

.location__badges {
    display: flex;
    gap: 8px;
}

.location__badges img {
    max-height: 35px;
}

.location__details--description { 
    margin-bottom: 12px;
    margin-top: 10px;
    padding-left: 2.5rem;
}

.location__details--descriotion-item { }

.location__details--map-btn { 
    all: unset;
    display: inline-block; 
    background: transparent;
    border: none;
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    background-color: var(--orange);
    margin-right: .5rem;
}

.location__details--site-btn { 
    all: unset;
    display: inline-block;
    text-decoration: none;
    background-color: var(--darkblue);
}

.location__details--map-btn,
.location__details--site-btn {
    font-family: "Avenir Next Condensed", sans-serif;
    text-transform: uppercase;
    color: white;
    cursor: pointer;
    padding: 0 2rem;
    text-align: center;
    line-height: 48px;
    border-radius: 50px;
    margin-bottom: 20px;
    position: relative;
    transition: all .2s;
}

/* Location Component MOBILE */
@media (max-width: 600px) {
    .location-page {
        /* different padding likely */
    }
    
    .location__container {
        gap: 0;
    }

    .location {
        flex-direction: column;
        padding-bottom: .5rem;
        width: 90%;
    }

    .location:not(:first-of-type) {
        margin-top: 2rem;
    }

    .location__img-box {
        min-width: 100%;
        max-width: 100%;
        padding: 0;
    }
    
    .location__img {
        
    }

    .location__details {
        max-width: 90%;
        margin: 0 auto;
        padding: 0;
    }

    .location__details--name {
        font-size: 1.6rem;
        margin-bottom: 1rem;
    }

    .location__details--name::after {
        width: calc(100% - .6rem);
        height: 365px;
        top: 5px;
        left: 5px;

    }
    
    .location__badges {
        max-width: 300px;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 10px;
    }

    .location__details--blurb {
        min-width: 275px;
    }

    .location__details--description {
        padding-left: 1.5rem;
    }

    .location__btn-box {
        display: flex;
        justify-content: center;
    }

    .location__details--map-btn,
    .location__details--site-btn {
        font-size: 10px;
    }
}

@media (min-width: 601px) {
    .location:hover {
        transform: translateY(-3px);
    }

    .location:hover .location__details--name::after {
        transform: translateX(+10px);        
    }

    .location:hover .location__img {
        transform: scale(.95);
    }

    .location__details--map-btn:before,
    .location__details--site-btn:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: white;
        border-radius: 50px;
        transition: all .4s;
        z-index: -2;
    }

    .location__details--map-btn:before {
        background-color: var(--orange);
    }
    .location__details--site-btn:before {
        background-color: var(--darkblue);
    }

    .location__details--map-btn:hover:before,
    .location__details--site-btn:hover:before {
        transform: scaleX(1.2) scaleY(1.4);
        opacity: 0;
    }

    .location__details--map-btn:hover,
    .location__details--site-btn:hover {
        transform: translateY(-3px);
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    }

    .location__details--map-btn:active,
    .location__details--site-btn:active {
        transform: translateY(-1px);
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    }
}