/* Search */
.listing__search-bar {
    display: flex;
    justify-content: center;
    align-items: center;
}

.listing__search-bar input {
    font-size: 1.25rem;
    border: none;
    padding: .7rem 1rem;
    border-radius: 100px;
    width: 90%;
    transition: all .2s;
    margin: 1rem auto;
    background-color: #ffd7b5;
    background-color: #F09A40;
    box-sizing: border-box;
    caret-color: var(--darkblue);
}

.listing__search-bar input::placeholder {
    color: var(--darkblue);
}

.listing__search-bar input:focus {
    outline: none; 
    border: none;
    width: calc(95% - 1rem);
    background-color: #ffe7d3;
}

/* MODAL */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0,0,0,0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.modal-content {
  background: white;
  padding: 1.5rem;
  border-radius: 8px;
  width: 90%;
  max-width: 850px;
  min-height: 80vh;
  max-height: 80vh;
  overflow-y: auto;
  position: relative;
  background-color: var(--darkblue);
  background-color: black;
}

.modal-close {
  position: absolute;
  top: 0.5rem;
  right: 1rem;
  background: none;
  border: none;
  font-size: 2rem;
  line-height: 1;
  cursor: pointer;
  color: white;
}

.search-results-found {
    color: white;
}

.no-results-found {
    background-color: white;
    width: 275px;
    height: 275px;
    border-radius: 50%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border: 10px solid var(--orange);
}

.no-results-found img {
    width: 200px;
}

@media (max-width: 600px) {
    .modal-content {
        max-width: 600px;
    }
}