.home {
    background-color: black;
}

/* Header */
.home__header-img {
    margin: 0 auto;
    display: block;
    width: 100%;
    max-width:  1072px;
    margin-top: -30px;
}

.home__header {
    text-align: center;
    color: white;

    padding-top: 1rem;
    padding-bottom: 1rem;
    /* background-color: var(--darkblue); */

    /* background-image: url('https://i.imgur.com/kQ3zUQc.jpeg');
    background-size: cover; */
}

.home__header h1 {
    text-align: center;
    font-family: 'Lacquer';
    color: yellow;
    font-size: 3rem;
    margin-bottom: .5rem;
}

.home__header p {
    font-family: 'Avenir Next Condensed', sans-serif;
}

@media (max-width: 600px) {
    .home__header h1 {
        font-size: 2rem;
    }
}