.listing__header {
    background-color: black;
    background-image: url('https://i.imgur.com/b1slPLQ.jpeg');
    background-size: cover;
    height: 8rem;
    color: yellow;
    font-family: 'Lacquer';
    font-size: 3rem;
    display: flex;  
    justify-content: left;
    align-items: center;
    margin-bottom: 0;
}

.restaurant-listing,
.activity-listing {
    min-height: calc(100svh - 12.5rem);
}

.listing__header--food {
    
}

.listing__header--activities {
    background-image: url('https://i.imgur.com/kQ3zUQc.jpeg');
}

.listing__header span {
    margin-left: 2rem;
}

.category__header {
    width: 900px;
    margin: 0 auto;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}

.category__header--title {
    font-family: 'Canto';
    font-size: 3rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 1rem;
    background-color: var(--darkblue);
    color: white;
    width: 520px;
}

.category__header--description {
    font-family: 'Avenir Next Condensed', sans-serif;
    padding-top: .5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    color: #666666;
    font-size: 1.25rem;
}

/* activities only */
.see-more-photos {
    color: white;
    font-family: 'Avenir Next Condensed';
    font-size: 1.5rem;
}

/* MOBILE */
@media (max-width: 600px) {
    .listing__header {
        height: 5rem;
        font-size: 2rem;
    }


    .category__header {
        max-width: 90%;
        padding: .25rem;
        margin-top: 1rem;
        margin-bottom: 1rem;
    }

    .category__header--title {
        max-width: 95%;
        font-size: 1.75rem;
    }

    .category__header--description {
        font-size: 1rem;
    }

    .see-more-photos {
        padding-top: 1rem;
        margin-bottom: -1rem;
    }
}