.location-details-page {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: var(--darkblue);
    padding-top: 2rem;
    min-height: 75svh;
}


.see-more-container {
    background-color: white;
    display: flex;
    justify-content: center;
    background-color: var(--darkblue);
}

.see-more-container a {
    color: var(--darkblue);
    text-decoration: none;
    font-family: "Avenir Next Condensed", sans-serif;
    margin-top: 15px;
    margin-bottom: 15px;
    cursor: pointer;

    padding: .5rem 1rem;
    background-color: white;
}

