@font-face {
    font-family: "Avenir Next Condensed Bold";
    src: url("https://db.onlinewebfonts.com/t/2919517cb534a742df4474836ca67452.eot");
    src: url("https://db.onlinewebfonts.com/t/2919517cb534a742df4474836ca67452.eot?#iefix")format("embedded-opentype"),
    url("https://db.onlinewebfonts.com/t/2919517cb534a742df4474836ca67452.woff2")format("woff2"),
    url("https://db.onlinewebfonts.com/t/2919517cb534a742df4474836ca67452.woff")format("woff"),
    url("https://db.onlinewebfonts.com/t/2919517cb534a742df4474836ca67452.ttf")format("truetype"),
    url("https://db.onlinewebfonts.com/t/2919517cb534a742df4474836ca67452.svg#Avenir Next Condensed Bold")format("svg");
}

@font-face {
    font-family: 'Canto'; /* Name the font family */
    src: url('../fonts/canto-roman.woff') format('woff'); /* Path to the WOFF file */

    font-style: normal;
    font-display: swap; /* Ensures text is visible while the font loads */
}


#map { 
    height: 80svh;
}


/* Navigation */
.navigation {
    position: fixed;
    z-index: 10;
    background-color: grey;
    background-color: black;
    width: 500px;
    display: flex;
    justify-content: space-around;

}

.navigation a {
    color: white;
    text-decoration: none;
    font-size: 2rem;
    line-height: 2.5rem;
    transition: all .3s;
    height: 2.5rem;
    padding: 0 .5rem;
    background-color: black;
}


.navigation a:hover {
    background-color: #DBDBDB;
}

@media (max-width: 600px) {
    .navigation {
        width: 90%;
        
    }

    .navigation a {
        font-size: 1.1rem;
    }
}

/* popup */
.popup {
    position: relative;
    max-height: 250px;
    min-height: 150px;
    min-width: 300px;
    max-width: 300px;
    overflow: hidden;
}

.popup::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 95%;
    height: 70%;
    background-color: #DBDBDB;
    z-index: 0; /* base layer */
    border-radius: 1rem;
  }

.popup img {
    position: absolute;
    z-index: 1;
    width: 35%;
    /* filter: blur(1px); */
    bottom: 0%;
    left: 65%;
    border-radius: 5px;
    opacity: .8;
}

.popup__content {
    position: relative;
    z-index: 10;
}

.popup__content span {
    display: block;
}

.popup__neighborhood {
    position: absolute;
    top: -12%;
    left: 5%;
    color: white;
    font-family: 'Canto';
    font-size: 18px;
    z-index: 1;
}

.popup__name {
    font-family: 'Canto';
    font-size: 20px;
    text-align: center;
    padding-right: 50px;
}

.popup__blurb {
    font-family: "Avenir Next Condensed";
    font-size: 15px;
}

.popup__content a {
    display: inline-block;
    font-family: "Avenir Next Condensed";
    text-transform: uppercase;

    cursor: pointer;
    padding: 0 2rem;
    text-align: center;
    line-height: 48px;
    border-radius: 50px;
    /* margin-bottom: 20px;
    all: unset; */
    border-radius: 50px;
    text-decoration: none;
    background-color: blue;
    color: white !important;
}

/* Filters */
.filters {

}

.filter {
    display: flex;
    align-items: center;
}

.filter img {
/* see badges below */
}

.filter span {
    font-size: 20px;
    margin-left: 8px;
    text-transform: capitalize;
}

/* Location Details Container */
.location-page {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    padding-top: 150px;
    padding-bottom: 150px;
}

/* Location Card */
.location__container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.location {
    display: flex;
    width: 100%;
    max-width: 900px;
    position: relative;    
}

.location::after {
    content: '';
    display: block;
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: -2;
    background-color: white;
}

/* Location Component - Img Side */

.location__img-box {
    width: 300px;
    height: 300px; /* Define height to make vertical centering effective */
    display: flex;
    justify-content: center; /* Horizontally center the image */
    align-items: center; /* Vertically center the image */
    padding-left: 15px;
}

.location__img {
    width: 100%;
    height: auto; /* Maintain the image's aspect ratio */
    object-fit: contain; /* Make sure the image scales properly within the container */
}

/* Location Component - Details Side */

.location__details {
    width: 100%;
    max-width: 550px;
    padding-left: 20px;
    padding-top: 10px;
}

.location__details--neighborhood { 
    font-size: .94em;
    line-height: 1.2em;
    letter-spacing: .05em;
    text-transform: uppercase;
    font-family: "Avenir Next Condensed";
    color: #666666;
    margin-bottom: 10px;
}

.location__details--name { 
    /* remove anchor styles */
    all: unset;
    display: inline-block;
    text-decoration: none;
    /* custom styles */
    font-family: 'Canto';
    font-size: 2em;
    line-height: 1.2em;
    letter-spacing: -.02em;
    margin-bottom: 0px;
    cursor: pointer;
    position: relative;
}

.location__details--name::after {
    content: '';
    display: block;
    height: 75px;
    width: 600px;
    position: absolute;
    top: -35px;
    left: -100px;
    z-index: -1;
    background-color: #DBDBDB !important;
}

.location__details--blurb,
.location__details--description { 
    font-size: 16px;
    line-height: 1.6em;
    font-family: 'Avenir Next Condensed';
    color: #666666;
    margin-top: 5px;
    margin-bottom: 10px;
    max-width: 80%;
}

.location__badges {
    display: flex;
    gap: 8px;
}

.location__badges img,
.filter img {
    max-height: 35px;
}

.location__details--description { 
    margin-bottom: 12px;
}

.location__details--descriotion-item { }

.location__details--map-btn { 
    all: unset;
    display: inline-block; 
    background: transparent;
    border: none;
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    background-color: green;
    margin-right: .5rem;
}

.location__details--site-btn { 
    all: unset;
    display: inline-block;
    text-decoration: none;
    background-color: blue;
}

.location__details--map-btn,
.location__details--site-btn {
    font-family: "Avenir Next Condensed";
    text-transform: uppercase;
    color: white;
    cursor: pointer;
    padding: 0 2rem;
    text-align: center;
    line-height: 48px;
    border-radius: 50px;
    margin-bottom: 20px;
}

/* Location Component MOBILE */
@media (max-width: 600px) {
    .location-page {
        /* different padding likely */
    }

    .location {
        flex-direction: column;
        padding-bottom: .5rem;
    }

    .location:not(:first-of-type) {
        margin-top: 2rem;
    }

    .location__img-box {
        min-width: 100%;
        max-width: 100%;
        padding: 0;
    }
    
    .location__img {
        
    }

    .location__details {
        max-width: 90%;
        margin: 0 auto;
        padding: 0;
    }

    .location__details--name::after {
        width: 300px;
        height: 200px;
        top: -160px;
        left: -8px;
    }

    .location__btn-box {
        display: flex;
        justify-content: center;
    }

    .location__details--map-btn,
    .location__details--site-btn {
        font-size: 14px;
    }
}

.see-more-container {
    background-color: white;
    display: flex;
    justify-content: center;
}

.see-more-container a {
    color: black;
    text-decoration: none;
    font-family: "Avenir Next Condensed";
    margin-top: 15px;
    margin-bottom: 15px;
    cursor: pointer;
    border: 1px solid black;
    padding: .5rem 1rem;
}