@font-face {
    font-family: "Avenir Next Condensed Bold";
    src: url("https://db.onlinewebfonts.com/t/2919517cb534a742df4474836ca67452.eot");
    src: url("https://db.onlinewebfonts.com/t/2919517cb534a742df4474836ca67452.eot?#iefix")format("embedded-opentype"),
    url("https://db.onlinewebfonts.com/t/2919517cb534a742df4474836ca67452.woff2")format("woff2"),
    url("https://db.onlinewebfonts.com/t/2919517cb534a742df4474836ca67452.woff")format("woff"),
    url("https://db.onlinewebfonts.com/t/2919517cb534a742df4474836ca67452.ttf")format("truetype"),
    url("https://db.onlinewebfonts.com/t/2919517cb534a742df4474836ca67452.svg#Avenir Next Condensed Bold")format("svg");
}

@font-face {
    font-family: 'Canto'; /* Name the font family */
    src: url('../fonts/canto-roman.woff') format('woff'); /* Path to the WOFF file */

    font-style: normal;
    font-display: swap; /* Ensures text is visible while the font loads */
}

:root {
    --primary-color: #3498db;
    --secondary-color: #2ecc71;
    --font-primary: 'Avenir Next Condensed', sans-serif;
    --font-secondary: 'Canto', serif;
}

*,
*::before,
*::after {
    margin: 0px;
    padding: 0px;
    box-sizing: inherit;
}


/* Listing Page Backgrounds */
.restaurant-listing {
    /* background-color: #666666;
    position: relative;
    z-index: -3; */
}



