@font-face {
    font-family: "Avenir Next Condensed Bold";
    src: url("https://db.onlinewebfonts.com/t/2919517cb534a742df4474836ca67452.eot");
    src: url("https://db.onlinewebfonts.com/t/2919517cb534a742df4474836ca67452.eot?#iefix")format("embedded-opentype"),
    url("https://db.onlinewebfonts.com/t/2919517cb534a742df4474836ca67452.woff2")format("woff2"),
    url("https://db.onlinewebfonts.com/t/2919517cb534a742df4474836ca67452.woff")format("woff"),
    url("https://db.onlinewebfonts.com/t/2919517cb534a742df4474836ca67452.ttf")format("truetype"),
    url("https://db.onlinewebfonts.com/t/2919517cb534a742df4474836ca67452.svg#Avenir Next Condensed Bold")format("svg");
}

@font-face {
    font-family: 'Canto'; /* Name the font family */
    src: url('../fonts/canto-roman.woff') format('woff'); /* Path to the WOFF file */

    font-style: normal;
    font-display: swap; /* Ensures text is visible while the font loads */
}


#map { 
    height: 80svh;
}


/* Navigation */
.navigation {
    position: fixed;
    z-index: 10;
    background-color: grey;
    width: 500px;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;

}

.navigation a {
    color: white;
    text-decoration: none;
    font-size: 2rem;
    line-height: 2.5rem;
    transition: all .3s;
    height: 2.5rem;
    padding: 0 .5rem;
}


.navigation a:hover {
    background-color: #DBDBDB;
}


/* Location Card */
.location__container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.location {
    display: flex;
    width: 100%;
/* 
    border-bottom: 1px solid #8F8F8F; */
    max-width: 900px;


}

    /* Img Side */

.location__img-box {
    width: 300px;
    height: 300px; /* Define height to make vertical centering effective */
    display: flex;
    justify-content: center; /* Horizontally center the image */
    align-items: center; /* Vertically center the image */
}

.location__img {
    width: 100%;
    height: auto; /* Maintain the image's aspect ratio */
    object-fit: contain; /* Make sure the image scales properly within the container */
}


    /* Details Side */

.location__details {

    width: 100%;
    max-width: 550px;
    padding-left: 20px;
    padding-top: 10px;
}

.location__details--neighborhood { 
    font-size: .94em;
    line-height: 1.2em;
    letter-spacing: .05em;
    text-transform: uppercase;
    font-family: "Avenir Next Condensed";
    color: #666666;
    margin-bottom: 10px;
}

.location__details--name { 
    /* remove anchor styles */
    all: unset;
    display: inline-block;
    text-decoration: none;
    /* custom styles */
    font-family: 'Canto';
    font-size: 2em;
    line-height: 1.2em;
    letter-spacing: -.02em;
    margin-bottom: 0px;
    cursor: pointer;
    position: relative;
}

.location__details--name::after {
    content: '';
    display: block;
    height: 75px;
    width: 600px;
    position: absolute;
    top: -35px;
    left: -100px;
    z-index: -1;
    background-color: #DBDBDB;
}

@media (max-width: 600px) {
    .location__details--name::after {
        width: 300px;
        height: 200px;
        top: -160px;
        left: -8px;
    }
}

.location__details--blurb,
.location__details--description { 
    font-size: 16px;
    line-height: 1.6em;
    font-family: 'Avenir Next Condensed';
    color: #666666;
    margin-top: 5px;
    margin-bottom: 10px;
    max-width: 80%;
}

.location__details--description { 
    margin-bottom: 12px;
}

.location__details--descriotion-item { }

.location__details--map-btn { 
    all: unset;
    display: inline-block; 
    background: transparent;
    border: none;
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    background-color: green;
    margin-right: .5rem;
}

.location__details--site-btn { 
    all: unset;
    display: inline-block;
    text-decoration: none;
    background-color: blue;
}

.location__details--map-btn,
.location__details--site-btn {
    font-family: "Avenir Next Condensed";
    text-transform: uppercase;
    color: white;
    cursor: pointer;
    padding: 0 2rem;
    text-align: center;
    line-height: 48px;
    border-radius: 50px;
    margin-bottom: 20px;
}

@media (max-width: 600px) {
    .location {
        flex-direction: column;
        padding-bottom: .5rem;
    }

    .location:not(:first-of-type) {
        margin-top: 2rem;
    }

    .location__img-box {
        min-width: 100%;
        max-width: 100%;
    }
}