html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden; /* prevent page scroll */
}

.app-router-wrapper {
    height: 100vh;
    width: 100vw;
    background-color: black;
    background-image: url('https://i.imgur.com/l2PsRYC.jpeg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    overflow: hidden; /* this is key to keep background fixed */
}

.app-router-wrapper__inner {
    padding-top: 40px;
    max-width: 1072px;
    width: 100%;
    background-color: white;
    height: calc(100svh - 40px); /* visible height minus header */
    overflow-y: auto; /* allow inner scrolling */
}

/* Scroll To Top */
.scroll-to-top-button {
    position: fixed;
    right: 20px;
    bottom: 20px;
    z-index: 9999;
    background: #002147;
    color: #E57200;
    border: 2px solid var(--orange);
    font-family: 'Lacquer';
    font-size: 1rem;
    padding: 10px 15px;
    border-radius: .5rem;
    cursor: pointer;
    width: 50px;
    height: 20px;
    display: flex;
}

.scroll-to-top-button img {
  width: 20px;
  height: 20px;
  display: block;
}

/* Navigation */
.navigation {
    position: fixed !important;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 100000;

    background-color: black;
    width: 100%; 
    max-width: 1072px;
    display: flex;
    justify-content: stretch;
    align-items: stretch;

}

.navigation a {
    flex: 1;
    color: white;
    text-decoration: none;
    font-size: 2rem;
    font-family: 'Avenir Next Condensed', sans-serif;
    line-height: 2.5rem;
    transition: all .3s;
    height: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    /* padding: 0 .5rem; */
    background-color: black;
}


.navigation a:hover {
    background-color: var(--darkblue);
    color: var(--orange);
}

@media (max-width: 600px) {
    .app-router-wrapper__inner {
        padding-top: 40px;
    }

    .navigation {
        /* max-width: 300px; */
        width: 100%;
    }

    .navigation a {
        font-size: 1.1rem;
    }

    .navigation a:hover {
        background-color: black;
        color: white;
    }
}