/* body {
    padding-top: 60px; Match height of .navigation
} */

.app-router-wrapper {
    background-color: black;
}

.app-router-wrapper__inner {
    padding-top: 60px;
    max-width: 1072px;
    margin: 0 auto;
    background-color: white;
    min-height: calc(100svh - 60px);
}


/* Navigation */
.navigation {
    position: fixed !important;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1000;

    background-color: black;
    width: 100%;
    max-width: 1072px;
    display: flex;
    justify-content: space-around;

}

.navigation a {
    color: white;
    text-decoration: none;
    font-size: 2rem;
    line-height: 2.5rem;
    transition: all .3s;
    height: 2.5rem;
    padding: 0 .5rem;
    background-color: black;
}


.navigation a:hover {
    background-color: #DBDBDB;
}

@media (max-width: 600px) {
    .navigation {
        /* max-width: 300px; */
        width: 100%;
    }

    .navigation a {
        font-size: 1.1rem;
    }
}

/* Containers */